@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-stretch: normal;
  src: url(/home/salahr/takwine_backend/static/certificate_req/fonts/memSYaGs126MiZpBA-UvWbX2vVnXBbObj2OVZyOOSr4dVJWUgsjZ0B4gaVc.ttf) format('truetype');
}

@font-face {
  font-family: 'Pinyon Script';
  font-style: normal;
  font-weight: 400;
  src: url(/home/salahr/takwine_backend/static/certificate_req/fonts/6xKpdSJbL9-e9LuoeQiDRQR8WOXaPw.ttf) format('truetype');
}

@font-face {
  font-family: 'Rochester';
  font-style: normal;
  font-weight: 400;
  src: url(/home/salahr/takwine_backend/static/certificate_req/fonts/6ae-4KCqVa4Zy6Fif-UC2FHS.ttf) format('truetype');
}

@font-face {
  font-family: 'Almarai';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/home/salahr/takwine_backend/static/certificate_req/fonts/tssoApxBaigK_hnnS_anhng.ttf) format('truetype');
}

@font-face {
  font-family: 'Almarai';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/home/salahr/takwine_backend/static/certificate_req/fonts/tsstApxBaigK_hnnc1o.ttf) format('truetype');
}

@font-face {
  font-family: 'Almarai';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/home/salahr/takwine_backend/static/certificate_req/fonts/tssoApxBaigK_hnnS-aghng.ttf) format('truetype');
}

@font-face {
  font-family: 'Almarai';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/home/salahr/takwine_backend/static/certificate_req/fonts/tssoApxBaigK_hnnS_qjhng.ttf) format('truetype');
}

@font-face {
  font-family: 'Amiri';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/home/salahr/takwine_backend/static/certificate_req/fonts/J7aRnpd8CGxBHqUp.ttf) format('truetype');
}

@font-face {
  font-family: 'Noto Kufi Arabic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/home/salahr/takwine_backend/static/certificate_req/fonts/CSRp4ydQnPyaDxEXLFF6LZVLKrodhu8t57o1kDc5Wh5v34bP.ttf) format('truetype');
}

@font-face {
  font-family: 'Aref Ruqaa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/home/salahr/takwine_backend/static/certificate_req/fonts/WwkbxPW1E165rajQKDulEIA.ttf) format('truetype');
}

.cursive {
  font-family: 'Pinyon Script', cursive;
}

.sans {
  font-family: 'Open Sans', sans-serif;
}

.almarai {
  font-family: 'Almarai', sans-serif;
}

.amiri {
  font-family: 'Amiri', serif;
}

.noto {
  font-family: 'Noto Kufi Arabic', sans-serif;
}

.ruqaa {
  font-family: 'Aref Ruqaa', serif;
}

.bold {
  font-weight: bold;
}

.block {
  display: block;
}

.underline {
  border-bottom: 1px solid #777;
  padding: 5px;
  margin-bottom: 15px;
}

.margin-0 {
  margin: 0;
}

.padding-0 {
  padding: 0;
}

.pm-empty-space {
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  padding: 20px 0;
}

.pm-certificate-container {
  position: relative;
  width: 800px;
  height: 600px;
  background-color: #618597;
  padding: 30px;
  color: #333;
  font-family: 'Open Sans', sans-serif;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.pm-certificate-container .outer-border {
  width: 794px;
  height: 594px;
  position: absolute;
  left: 50%;
  margin-left: -397px;
  top: 50%;
  margin-top: -297px;
  border: 2px solid #fff;
}

.pm-certificate-container .inner-border {
  width: 730px;
  height: 530px;
  position: absolute;
  left: 50%;
  margin-left: -365px;
  top: 50%;
  margin-top: -265px;
  border: 2px solid #fff;
}

.pm-certificate-container .pm-certificate-border {
  position: relative;
  width: 720px;
  height: 520px;
  padding: 0;
  border: 1px solid #E1E5F0;
  background-color: #ffffff;
  background-image: none;
  left: 50%;
  margin-left: -360px;
  top: 50%;
  margin-top: -260px;
}

.pm-certificate-container .pm-certificate-border .pm-certificate-block {
  width: 650px;
  height: 200px;
  position: relative;
  left: 50%;
  margin-left: -325px;
  top: 70px;
  margin-top: 0;
}

.pm-certificate-container .pm-certificate-border .pm-certificate-header {
  margin-bottom: 10px;
}

.pm-certificate-container .pm-certificate-border .pm-certificate-title {
  position: relative;
  top: 40px;
}

.pm-certificate-container .pm-certificate-border .pm-certificate-title h2 {
  font-size: 34px !important;
  font-weight: 700;
}

.pm-certificate-container .pm-certificate-border .pm-certificate-body {
  padding: 16px;
}

.pm-certificate-container .pm-certificate-border .pm-certificate-body .pm-name-text {
  font-size: 24px;
}

.pm-certificate-container .pm-certificate-border .pm-earned {
  margin: 15px 0 20px;
}

.pm-certificate-container .pm-certificate-border .pm-earned .pm-earned-text {
  font-size: 20px;
}

.pm-certificate-container .pm-certificate-border .pm-earned .pm-credits-text {
  font-size: 15px;
}

.pm-certificate-container .pm-certificate-border .pm-course-title .pm-earned-text {
  font-size: 20px;
}

.pm-certificate-container .pm-certificate-border .pm-course-title .pm-credits-text {
  font-size: 15px;
}

.pm-certificate-container .pm-certificate-border .pm-certificate-footer {
  width: 650px;
  height: 100px;
  position: relative;
  left: 50%;
  margin-left: -325px;
  bottom: -100px;
}

.pm-certificate-container .pm-certificate-border .stamp-image {
  position: absolute;
  left: 150;
  bottom: 10;
  opacity: 60%;
  width: 200;
  -webkit-transform: rotate(20deg);
}

.pm-certificate-container .pm-certificate-border .signature-image {
  position: absolute;
  left: -40;
  bottom: -80;
  opacity: 80%;
  width: 300;
}

.pm-certificate-container .pm-certificate-border .pm-certified {
  font-size: 12px;
}

.pm-certificate-container .pm-certificate-border .pm-certified .underline {
  margin-bottom: 5px;
}

.pm-certificate-container .pm-certificate-border .content-text {
  font-size: 18px;
}